.clickable1 {
  cursor: pointer;
  color: green;
}
.showing1 {
  display: none;
}
.clickable2 {
  cursor: pointer;
  color: green;
}
.showing2 {
  display: none;
}
.clickable3 {
  cursor: pointer;
  color: green;
}
.showing3 {
  display: none;
}
.clickable4 {
  cursor: pointer;
  color: green;
}
.showing4 {
  display: none;
}
.clickable5 {
  cursor: pointer;
  color: green;
}
.showing5 {
  display: none;
}
.clickable6 {
  cursor: pointer;
  color: green;
}
.showing6 {
  display: none;
}
